<% provide(:title, 'Contact') %>
<h1>Contact Open Data Quality Team</h1>
  <h2>
    This is the contact page for the ODQ application.
  </h2>
<div>
  Contact us:
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

