<% provide(:title, 'Home') %>
<h1>Welcome to Open Data Quality Stairs</h1>

  <div class="container-fluid">

    <!-- Info bar -->    
    <div class="row-fluid">

      <!-- User info -->
      <div class="span8">
        <% if signed_in? %>
          You are logged in as <%= @current_user.last_name %>
        <% else %>
          <%= link_to "Please login here : Sign in", signin_path %>
        <% end %>  
      </div>

      <!-- Search tool -->
      <div class="span4">
        Search
      </div>

    </div>

    <!-- Info display -->    
    <div class="row-fluid">

      <!-- Articles -->
      <div class="span8">
        <img src="assets/ODQ_Stairs.png" alt="Pragmatic & progressive">
      </div>

      <!-- History -->
      <div class="span4">
        History
      </div>

    </div>

  </div>


