<% provide(:title, 'Home') %>
<h1>Welcome to Open Data Quality Stairs</h1>

  <div class="container-fluid">

    <!-- Info bar -->    
    <div class="row-fluid">

      <!-- User info -->
      <div class="span8">
        You are logged in as ? 
      </div>

      <!-- Search tool -->
      <div class="span4">
        Search
      </div>

    </div>

    <!-- Info display -->    
    <div class="row-fluid">

      <!-- Articles -->
      <div class="span8">
        <img src="assets/ODQ_Stairs.png" alt="Pragmatic & progressive">
      </div>

      <!-- History -->
      <div class="span4">
        History
      </div>

    </div>

  </div>


