<% provide(:title, 'New Playground') %>

<% if signed_in? %>

<h1>New playground</h1>

<%= render 'form' %>

<%= link_to 'Back', playgrounds_path %>

<% else %>

You must log in to access this page. 
<%= link_to ' Click here', root_path %>

<% end %>

