<% provide(:title, 'Managing business processes') %>

<h1>Editing a business process</h1>

<%= render 'form' %>

<%= link_to 'Show', @business_process %> |
<%= link_to 'Back', business_processes_path %>
