<% provide(:title, (t('Managing') + ' ' + t('BPs'))) %>

<%= will_paginate %>

<%= render partial: "shared/simple_search", locals: {this_path: business_processes_path} %>

<%= render partial: "shared/object_index", locals: {this_index: @business_processes} %>

</table>

<%= will_paginate %>

<br />

