<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">     
	<a href="http://www.OpenDataQuality.org/">Open Data Quality web site</a>
      </div>
    </div>
  </div>
</footer>
