<footer>
  <div class="container-fluid">
    <div class="row">
      <ul>
	<li><a href="http://www.OpenDataQuality.com/">Open Data Quality</a></li>
	<li><%= link_to " | " + t('Credits'), "#" %></li>
	<li><%= link_to " | " + t('License'), "#" %></li>
      </ul>
    </div>
  </div>
</footer>
