<footer>
  <div class="container-fluid">
    <div class="row">
      <ul>
	<li><a href="http://www.OpenDataQuality.com/">Open Data Quality web site</a></li>
	<li><%= link_to " | Credits", "#" %></li>
	<li><%= link_to " | License", "#" %></li>
      </ul>
    </div>
  </div>
</footer>
